#cookie{
    max-width: 250px;
    width: 100%;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 100%;
}

#cookie:hover{
    transition: 1s;
    transform: scale(1.05);
    box-shadow: 2px 2px 10px 10px rgb(0, 255, 0);
}

#counter{
    text-align: center;
    font-weight: bold;
    font-size: 5vh;
}

#box, #box2, #box3{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#box3 {
    position: absolute;
    left: 0;
    top: 0;
}