* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    text-align: center;
    background-color: #00ff0d;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: auto;
}

h1 {
    font-size: 3vh;
    margin-bottom: 20px;
    color: #ff9800;
}

#cookie {
    max-width: 200px;
    width: 100%;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 50%;
    transition: 0.3s;
}

#cookie:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#counter {
    font-size: 5vh;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
}

.upgrades {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #ff9800;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px; /* přidává mezery mezi tlačítky */
}

button:hover {
    background-color: #e68900;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.controls button {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    background-color: #ff9800;
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #e68900;
}

.controls button:disabled {
    background-color: #ccc; /* Šedá barva pro deaktivované tlačítko */
    cursor: not-allowed;
}

button#resetBtn {
    background-color: #f44336; /* Červená barva pro reset */
}

button#resetBtn:hover {
    background-color: #d32f2f; /* Tmavší červená při hover */
}
